<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Dog</title>
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <h1>Happy Dog</h1>
            </a>
        </div>
        <div class="menu">
            <ul>
                <a href="/">
                    <li>HOME</li>
                </a>
                <a href="/acessorios">
                    <li>ACESSÓRIOS</li>
                </a>
                <a href="/brinquedos">
                    <li>BRINQUEDOS PARA CÃES</li>
                </a>
                <a href="/camas">
                    <li>CAMAS</li>
                </a>
                <a href="/contato">
                    <li>CONTATO</li>
                </a>
            </ul>
        </div>
        <div class="painel" onclick="setPainel()" id="painel">
            <div>
                <p>Bem vindo ao Happy Dog</p>
                <p>O lugar onde você encontra o melhor para o conforto do seu pet.</p>
            </div>
        </div>
        <div class="content">
            <hr size="1" color="black" width="100%" id="first-hr" />
            <div class="accessories">

                <h2>ACESSÓRIOS</h2>
                <ul>
                    <%for (var result of acessorios){%>
                        <li>
                            <a href="/product/<%=result._id%>">
                                <div class="product">
                                    <div class="product-img"><img src="<%=result.image_url%>"></div>
                                    <div class="product-details">
                                        <p class="product-name">
                                            <%=result.name%>
                                        </p>
                                        <p class="product-price">
                                            R$<%=result.price['$numberDecimal']%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <a href="/acessorios" target="_blank"><button>VER TODOS</button></a>
            </div>
            <hr size="1" color="black" width="100%" />
            <div class="accessories">
                <h2>BRINQUEDOS</h2>
                <ul>
                    <%for (var result of brinquedos){%>
                        <li>
                            <a href="/product/<%=result._id%>">
                                <div class="product">
                                    <div class="product-img"><img src="<%=result.image_url%>"></div>
                                    <div class="product-details">
                                        <p class="product-name">
                                            <%=result.name%>
                                        </p>
                                        <p class="product-price">
                                            R$<%=result.price['$numberDecimal']%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <a href="/brinquedos" target="_blank"><button>VER TODOS</button></a>
            </div>
            <hr size="1" color="black" width="100%" />
            <div class="accessories">
                <h2>CAMAS</h2>
                <ul>
                    <%for (var result of camas){%>
                        <li>
                            <a href="/product/<%=result._id%>">
                                <div class="product">
                                    <div class="product-img"><img src="<%=result.image_url%>"></div>
                                    <div class="product-details">
                                        <p class="product-name">
                                            <%=result.name%>
                                        </p>
                                        <p class="product-price">
                                            R$<%=result.price['$numberDecimal']%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <a href="/camas" target="_blank"><button>VER TODOS</button></a>
            </div>
        </div>
        <div class="footer">
            <div class="footer-logo">
                <a href="/">
                    <h1>Happy Dog</h1>
                </a>
            </div>
            <div class="footer-options">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a>
                    <a href="/acessorios">
                        <li>ACESSÓRIOS</li>
                    </a>
                    <a href="/brinquedos">
                        <li>BRINQUEDOS PARA CÃES</li>
                    </a>
                    <a href="/camas">
                        <li>CAMAS</li>
                    </a>
                    <a href="/contato">
                        <li>CONTATO</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>