<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Dog - Contato
    </title>
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="stylesheet" href="/styles/productPage.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body>
    <div class="buy-modal" id="buy-modal">
        <div class="close">
            <button onclick="modalOff('buy-modal')">X</button>
        </div>
        <div class="message">
            <p>Compra de <strong>
                    <%=result.name%>
                </strong> efetuada.</p>
            <p>Nós da Happy Dog agradecemos 🐾.</p>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <a href="/">
                <h1>Happy Dog</h1>
            </a>
        </div>
        <div class="menu">
            <ul>
                <a href="/">
                    <li>HOME</li>
                </a>
                <a href="/acessorios">
                    <li>ACESSÓRIOS</li>
                </a>
                <a href="/brinquedos">
                    <li>BRINQUEDOS PARA CÃES</li>
                </a>
                <a href="/camas">
                    <li>CAMAS</li>
                </a>
                <a href="/contato">
                    <li>CONTATO</li>
                </a>
            </ul>
        </div>
        <div class="page-content">
            <div class="product-page">
                <div>
                    <div class="product-page-image">
                        <img src="<%=result.image_url%>" alt="">
                    </div>
                    <div class="product-page-main-details">
                        <p>
                            <%=result.name%>
                        </p>
                        <p>
                            R$<%=result.price['$numberDecimal']%>
                        </p>
                        <button onclick="modal('buy-modal')">COMPRAR</button>
                    </div>
                </div>
                <%for (var description of descriptions){%>
                    <p>
                        - <%=description%>
                    </p>
                    <%}%>
            </div>
        </div>
        <div class="footer">
            <div class="footer-logo">
                <a href="/">
                    <h1>Happy Dog</h1>
                </a>
            </div>
            <div class="footer-options">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a>
                    <a href="/acessórios">
                        <li>ACESSÓRIOS</li>
                    </a>
                    <a href="/brinquedos">
                        <li>BRINQUEDOS PARA CÃES</li>
                    </a>
                    <a href="/camas">
                        <li>CAMAS</li>
                    </a>
                    <a href="/contato">
                        <li>CONTATO</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
</body>

</html>