<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Dog - <%=pageTitle%>
    </title>
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/secundary.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <h1>Happy Dog</h1>
            </a>
        </div>
        <div class="menu">
            <ul>
                <a href="/">
                    <li>HOME</li>
                </a>
                <a href="/acessorios">
                    <li>ACESSÓRIOS</li>
                </a>
                <a href="/brinquedos">
                    <li>BRINQUEDOS PARA CÃES</li>
                </a>
                <a href="/camas">
                    <li>CAMAS</li>
                </a>
                <a href="/contato">
                    <li>CONTATO</li>
                </a>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-tittle">
                <h1>
                    <%=pageTitle%>
                </h1>
            </div>
            <div class="products-filter">
                <input placeholder="Fazer busca" type="text" id="search" name="search">
                <button id="search-btn" onclick="searchOn()">Buscar</button>
                <button id="clean-btn" onclick="searchOff()">Limpar</button>
            </div>
            <div class="all-products">
                <ul>
                    <%for (var result of products){%>
                        <li>
                            <a href="/product/<%=result._id%>">
                                <div class="product">
                                    <div class="product-img"><img src="<%=result.image_url%>"></div>
                                    <div class="product-details">
                                        <p class="product-name">
                                            <%=result.name%>
                                        </p>
                                        <p class="product-price">
                                            R$<%=result.price['$numberDecimal']%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="footer-logo">
                <a href="/">
                    <h1>Happy Dog</h1>
                </a>
            </div>
            <div class="footer-options">
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a>
                    <a href="/acessórios">
                        <li>ACESSÓRIOS</li>
                    </a>
                    <a href="/brinquedos">
                        <li>BRINQUEDOS PARA CÃES</li>
                    </a>
                    <a href="/camas">
                        <li>CAMAS</li>
                    </a>
                    <a href="/contato">
                        <li>CONTATO</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>